
@{
    ViewData["Title"] = "Profile";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mt-2 text-center">Profile</h2>
                <hr>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4 class="text-center">Personal details</h4>
                <div class="form-group">
                    <label for="inputEmail">Your Name</label>
                    <input type="text" name="name" class="form-control" value="Mike" disabled="">
                </div>
                <div class="form-group">
                    <label>Employee ID</label>
                    <input type="text" name="name" value="1234" class="form-control" disabled="">
                </div>
                <div class="form-group">
                    <label>Your Department #</label>
                    <input type="text" name="name" value="6564" class="form-control" disabled="">
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" name="name" value="Wolverhampton" class="form-control" disabled="">
                </div>
                <div class="form-group">
                    <button class="btn btn-danger">Edit</button>
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
