@{
    /* Layout = "/Areas/Identity/Pages/_Layout.cshtml"; Original path of layout - Athar - 26.03.2020*/ 
    Layout = "/Views/Shared/_Layout.cshtml"; /* New path of layout - Athar - 26.03.2020*/
}

<h1>Manage your account</h1>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
